@{
    ViewData["Title"] = "Home Page";
    ViewData["Background-Image"] = @"background-image: url('assets/img/home-bg.jpg')";
    ViewData["Site-Heading"] = "Just Blog";
    ViewData["Sub-Heading"] = "A Blog Theme by Start Bootstrap";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>