<div class="card m-6">
    <img src="/assets/img/about-bg.jpg" alt="about-bg" />
    <div style="padding:10px">
        <h4>About Me!</h4>
        <p>
            Just me, myself and I, exploring the universe of unknownment.
        </p>
    </div>
</div>