@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["success"]!=null)
    {
        <h1>@(TempData["success"])!</h1>
    }
    @if (TempData["Error"]!=null)
    {
        <h1>@(TempData["Error"])!</h1>
    }
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
